*{
    font-family: Arial, Helvetica, sans-serif;
    background-color: indianred
}
body {
    font: italic bold;
    border: 15px inset rgb(34, 231, 156);
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    text-align: center;
}

h1 {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: bold;
}

h2 {
    color: rgb(39, 37, 37);
}

dl {
    color: white
    
}

h3 {
    color: rgb(28, 166, 221);
}

ol{
    color: white;
    text-align: center;
}



